<body>

<link rel = "stylesheet" type="text/css" href="ejsStyle.css"/>

<h1>
Ghibli Recipes

</h1>


<% stuff.forEach(i =>{ %>
    <div>
            <%=i.recipe %>
            <img src="<%=i.img %>" height="300"/>
            <%=i.ingredients %>
            <%=i.directions %>

            <a class="button submit" href="/<%=i.id %>">Edit</a>

            <form action="/<%=i.id %>/?_method=DELETE" method="POST" class="delete">
                <input type="submit" value="Delete" class="delete-button"/>
            </form>
    </div>

<% }) %>

<a href="/new">Add Your Own</a>

</body>